/**
 * Overriding YouTube Music style
 */

/* Allow window dragging */
ytmusic-nav-bar {
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

iron-icon,
ytmusic-pivot-bar-item-renderer,
.tab-title,
a {
	-webkit-app-region: no-drag;
}

/* custom style for navbar */
ytmusic-app-layout {
	--ytmusic-nav-bar-height: 90px;
}

ytmusic-search-box.ytmusic-nav-bar {
	margin-top: 15px;
}

/* Blocking annoying elements */
ytmusic-mealbar-promo-renderer {
	display: none !important;
}

/* Disable Image Selection */
img {
	-webkit-user-select: none;
	user-select: none;
}

/* Hide cast button which doesn't work */
ytmusic-cast-button {
	display: none !important;
}

/* Remove useless inaccessible button on top-right corner of the video player */
.ytp-chrome-top-buttons {
	display: none !important;
}

/* Make youtube-music logo un-draggable */
ytmusic-nav-bar>div.left-content>a,
ytmusic-nav-bar>div.left-content>a>picture>img {
	-webkit-user-drag: none;
}
