/**
 * Overriding YouTube Music style
 */

/* Allow window dragging */
ytmusic-nav-bar {
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

iron-icon,
ytmusic-pivot-bar-item-renderer,
.tab-title,
a {
	-webkit-app-region: no-drag;
}

/* custom style for navbar */
ytmusic-app-layout {
	--ytmusic-nav-bar-height: 90px;
}

ytmusic-search-box.ytmusic-nav-bar {
	margin-top: 15px;
}

/* Blocking annoying elements */
ytmusic-mealbar-promo-renderer {
	display: none !important;
}

/* Disable Image Selection */
img {
	-webkit-user-select: none;
	user-select: none;
}

/* Hide cast button which doesn't work */
ytmusic-cast-button {
	display: none !important;
}
